@use './colors' as *;
@use './fonts.scss' as *;

* {
  margin: 0;
  padding: 0;
  // outline: solid 1px black;
}

body {
    background-color: var(--neutral-white);
    color: var(--neutral-141718);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
  }