.radioButton {
  &__wrapper {
    background-color: aqua;
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radioButton__radioLabel {
      &:before {
        content: '';
        background-color: red;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: -5px;
        cursor: pointer;
      }
    }
  }
}