.kit-button {
  display: flex;
  justify-content: center;
  padding: 6px 40px;
  font-size: 16px;
  line-height: 28px;

	&_theme-dark {
		background-color: var(--primary-black);
	}

	&_theme-light {
		background-color: var(--neutral-white);
		border: 1px solid var(--primary-black);
		color: var(--primary-black);
	}

	&_radius-big {
		border-radius: 80px;
	}

	&_radius-small {
		border-radius: 8px;
	}

	&_disabled {
		background-color: gray;
		color: lightgray;
		cursor: not-allowed;
	}
}